body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 56px;
}

#calculator-display {
    width: 610px;
    height: 75px;
    font-size: 36px;
    text-align: right;
    margin-bottom: 10px;
}

#buttons {
    display: flex;
    flex-direction: row;
}


#operation-buttons {
    display: flex;
    flex-direction: column;
}

#input-buttons {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.number-button {
    width: 150px;
    height: 75px;
    font-size: 30px;
    margin-top: 5px;
    background-color: white;
}

.number-button:active {
    background-color: blue;
    color: white;
}

.clear-button {
    width: 150px;
    height: 75px;
    font-size: 30px;
    margin-top: 5px;
    background-color: white;
}

.clear-button:active {
    background-color: orange;
    color: white;
}

.memory-button {
    width: 150px;
    height: 75px;
    font-size: 30px;
    background-color: white;
}

.memory-button:active {
    background-color: green;
    color: white;
}

.operation-button {
    width: 150px;
    height: 75px;
    font-size: 30px;
    margin-bottom: 5px;
    background-color: white;
}

.operation-button:active {
    background-color: red;
    color: white;
}