body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 56px;
}

#calculatorDisplay {
    width: 610px;
    height: 75px;
    font-size: 36px;
    text-align: right;
    margin-bottom: 10px;
}

#buttons {
    display: flex;
    flex-direction: row;
}


#operationButtons {
    display: flex;
    flex-direction: column;
}

#inputButtons {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.numberButton {
    width: 150px;
    height: 75px;
    font-size: 30px;
    margin-top: 5px;
    background-color: white;
}

.numberButton:active {
    background-color: blue;
    color: white;
}

.memoryButton {
    width: 150px;
    height: 75px;
    font-size: 30px;
    background-color: white;
}

.memoryButton:active {
    background-color: green;
    color: white;
}

.operationButton {
    width: 150px;
    height: 75px;
    font-size: 30px;
    margin-bottom: 5px;
    background-color: white;
}

.operationButton:active {
    background-color: red;
    color: white;
}